<div class="uk-background-primary uk-light">
  <div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">
          StarBooks
        </a>
        <ul class="uk-navbar-nav">
          <li> <a routerLink="['principal']" routerLinkActive="uk-text-bold"> Minha Estante </a></li>
          <li><a routerLink="['leitor/estante/livro']" routerLinkActive="uk-text-bold">Cadastro de Livros</a></li>

        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a routerLink="['login/estante/livro']" routerLinkActive="uk-text-bold">
              <span class="uk-icon uk-margin-small-rigth" uk-icon="icon: user"></span>
            </a>
          </li>
          <li>
            <a routerLink="['principal']" routerLinkActive="uk-text-bold">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
            </a>
          </li>

        </ul>

      </div>
    </nav>

  </div>

</div>
